:root{
  --boxShadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --borderRadius: 10px;
  --primaryColor: rgb(0, 68, 255);
  --primaryColorDark: rgb(0, 16, 51);
  --lightBgGray: rgb(246,246,246);
  --lightAdidasBgGray: rgb(236,237,239);
}